*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  border: 0.1px solid transparent;
}

i {
  color: #757575 ;
}

hr {
  opacity: 0.30;
}

.containter {}

.left {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 40%;
}

.left .left-bg-img {
  background: url(./7.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.left img {
  max-height: 100vh;
}

.right {
  margin-left: 40%;

}

.right-content {
  margin: 0 20px;
}

.first {

  text-align: center;
  padding: 128px 16px;
}

.first h1 {
  font-size: 64px;
  font-weight: bold;

}

button {
  border: none;
  padding: 12px 24px ;
  cursor: pointer;
}

button:hover {
  background-color: rgb(161, 161, 161);
}

.Portfolio h1 {
  color: #757575 ;
}

.Portfolio .port {
  overflow: hidden;
  display: flex;

}

.port-left {
  flex: 1;
}

.port-right {
  flex: 1;
  margin-left: 7px;

}

.port img {
  width: 100%;
}

.Portfolio .ports {
  width: 40%;
}

.Portfolio .ports img {
  width: 100%;
  margin: 0;
}

.item {
  width: 100%;
  display: flex;
}

.item img {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 10px;
  width: 80px;
  border-radius: 50%;
}

.item p {
  justify-content: center;
  align-items: center;
}

.Price {
  width: 100%;
}

.p-pro {
  display: inline;
  display: flex;
  box-shadow: lightgray;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p-left {
  width: 400px;
  border: 1px solid black;
  margin: 10px;
}

.p-right {
  border: 1px solid black;
  width: 400px;
  margin: 10px;
}

.pri {
  border-bottom: 1px solid black;
}

.pri h1 {
  padding: 8px 16px;
  margin: 0;
  background-color: rgb(141, 148, 155);
  color: white;
}

.pro button {
  margin: 10px;
  border: none;
  width: 50%;
  cursor: pointer;
  background-color: white;
}

.p-pro .pro {
  background-color: rgb(141, 148, 155);
}

.p-right .pri h1 {
  padding: 8px 16px;
  background-color: black;
  color: white;
}

.map img {
  width: 100%;
}

.message {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.message input {
  margin-left: 0;
  margin: 4px;
  padding: 10px;
}

.but {
  justify-content: center;
  text-align: start;

}

.but button {
  font-size: 18px;
  justify-content: space-around;
  margin:20px 0;

  margin-bottom: 60px;

}

.Contact{
  color: #757575;
  font-size:20px;
}

footer {
  background-color: rgb(197, 201, 204);
  padding: 10px;
  text-align: center;
}

.first .none {
  display: none;
}

@media all and (max-width:1000px) {

  .right {
    margin-left: 0;
  }

  .left .left-bg-img {
    display: none;
  }

  .first .none {
    display: block;
    overflow: hidden;
  }

  .first .none img {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

}

@media all and (max-width:600px) {

  .port {
    display: flex;
    flex-direction: column;
  }

  .p-pro {
    display: flex;
    flex-direction: column;

  }
}